@use '../helpers' as *;

.specs{

    &_difference{
        display: flex;
        flex-direction: column;
        row-gap: rem(20);

        @include tablet{
           column-gap: rem(20); 
        }
        @include mobile{
           column-gap: rem(20); 
        }
    }

    &_citation{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: rem(70);
        row-gap: rem(20);

        justify-content: center;
    }
}