@use 'helpers' as *;

html{
    &.is-lock{
        overflow: hidden;
    }
}

body{

    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    color: var(--color-text-parag);
    background-color: var(--color-back);
}

main{
    flex-grow: 1;
    padding-top: rem(72);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    color: var(--color-accent-black);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: var(--font-family-base);
    font-weight: 400;
}

h1, .h1{
    @include fluid-text(160, 76);
    line-height: 0.8;
}

h2, .h2{
    @include fluid-text(60, 50);
    line-height: 0.9;
}

h3, .h3{
    @include fluid-text(40, 24);
}

h4, .h4{
    @include fluid-text(26, 18);
}

h5, .h5{
    @include fluid-text(24, 18);
}

h6, .h6{
    @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}


a{
    color: var(--color-accent-black);

    @include hover{
        color: var(--color-accent-6);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-accent-4);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a,
button{
    &[aria-label]{
        position: relative;

        &::before{
            @include abs-center;
            @include square(rem(44));

            content: '';
        }
    }
}